body {
    background-color: #f3f9ff; 
}

.header {
    text-align: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(208, 167, 116);
}

.header .logo {
    max-width: 100px;
    margin-right: 15px;
}

.header .title {
    font-size: 30px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    border-radius: 15px; /* Round the corners of the card */
}

.card-body {
    padding: 40px; /* Add padding inside the card */
}

.footer-link {
    color: #007bff; /* Bootstrap link color */
}

.footer-link:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Hover effect */
.baz a:hover {
    background-color: #c7f2c8; /* Light green background on hover */
    color: white; /* White text on hover */
}



